include mixins.pug

//- .cards#card_interest_by_region card_interest_by_region
//- .cards#card_interest_over_time card_interest_over_time

//- .cards#card_read_time_trends card_read_time_trends
//- .cards#related_queries_Dog1
//-   div(style="width:100%; height:100%;")
//-     h3 card_related_queries
//-     div#card_related_queries

//- .cards
//-   div
//-     h3 card_related_topics
//-     div#card_related_topics

//- .cards#card_daily_trends card_daily_trends

//- .cards#chartjs_test chartjs_test
//-   div.chart_container
//-     canvas#myChart

.cards.trending_search#trending_search_of_hk(data-card-category="#trending_search")
  .card_content
    +trending_search('trending search of HK today', {
        trendDate: new Date(),
        geo: 'HK',
      })

.cards.trending_search#trending_search_of_us(data-card-category="#trending_search")
  .card_content
    +trending_search('trending search of US today', {
        trendDate: new Date(),
        geo: 'US',
      })

.cards.trending_search#trending_search_of_tw(data-card-category="#trending_search")
  .card_content
    +trending_search('trending search of TW today', {
        trendDate: new Date(),
        geo: 'TW',
      })

.cards.interest_over_time#language_trend(data-card-category="#programming")
  .card_content
    +chart_interest_over_time('language trends\(5 years\)', {
              keyword: ['python','PHP','javascript','Dart','Rust'],
              dayBack: 365 * 5,
            })

.cards.vector_map#test_vector_map
  .card_content
    +chart_vector_map('donald trump heatmap on earth', {
                keyword: 'Donald Trump',
                startTime: '2017-02-01',
                endTime: '2017-02-06',
                resolution: 'COUNTRY'
              }, 'world-map')

.cards.related_queries#related_queries_1
  .card_content
    +related_queries('card_related_queries of 觀塘站',{keyword: '觀塘站'}, 'aaa', 10)

.cards.related_topics#related_topics_2
  .card_content
    +related_topics('card_related_topics of 觀塘站',{keyword: '觀塘站'}, 'aaa1', 10)

.cards#test_table
  .card_content
    h2 test table
    .
      <table class="test_table" border="1" style="width: 100%; height: 20px;">
        <thead>
          <tr>
            <td>h1</td>
            <td>h2</td>
            <td class="hide_column_test">h3</td>
          </tr>
        </thead>
        <tr>
          <td>1</td>
          <td>2</td>
          <td class="hide_column_test">3</td>
        </tr>
        <tr>
          <td>4</td>
          <td>5</td>
          <td class="hide_column_test">6</td>
        </tr>
        <tr class="hide_row_test">
          <td>4</td>
          <td>5</td>
          <td class="hide_column_test">6</td>
        </tr>
      </table>
