include mixins.pug

.cards#card4
  include sample/relatedTopics.pug
.cards#card0 interestovertime
.cards#card1 interestOfRegion
.cards#card2 RecentlyTrendingSearch
.cards#card3 relatedqueries
.cards#card_interest_by_region card_interest_by_region
.cards#card_interest_over_time card_interest_over_time

.cards#card_read_time_trends card_read_time_trends
.cards#card_related_queries card_related_queries
.cards#card_related_topics card_related_topics
.cards#card_daily_trends card_daily_trends

.cards#chartjs_test chartjs_test
  .chart_container
    canvas#myChart

.cards test_chart_interest_over_time
  .chart_container#test_chart_interest_over_time


.cards#trending_search trending_search
  +trending_search('trending search of HK', 'HK')

.cards#test_chart
  +chart_interest_over_time('test topic', ['Valentines Day'])
