head
  include meta.pug

  script(src="https://unpkg.com/animate-css-grid@latest")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js")

  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")

  script(src="https://unpkg.com/animate-css-grid@latest")

  link(rel="stylesheet", href="css/style.css")

  title Document
